<div class="pesh-core-values-section">

</div>
<style>
    .pesh-core-values-section {

    }
</style>
{% schema %}
    {
      "name": "Pesh Core Values Section",
      "settings": [],
      "presets": [
        {
          "name": "Pesh Core Values Section"
        }
      ]
    }
  {% endschema %}