<div class="siziing-chart-section">
    Sizing chart
</div>
<style>
    .sizing-chart-section {

    }
</style>
{% schema %}
    {
      "name": "Pesh Sizing Chart Section",
      "settings": [],
      "presets": [
        {
          "name": "Pesh Sizing Chart Section"
        }
      ]
    }
  {% endschema %}