<div class="input-wrapper">
    <h5>TRACK YOUR ORDER</h5>
    <input type="text" placeholder="Tracking Number">
    <button>TRACK</button>
</div>
<style>
    .input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0 6rem 0;
        h5 {
            font-weight: bold;
            color: var(--color-4);
        }
        input {
            background-color: unset;
            border: 2px solid var(--color-1);
            border-radius: 2rem;
            color: var(--color-4);
            height: 3rem;
            padding: 0 1rem;
        }
    }
</style>
{% schema %}
  {
    "name": "Pesh Sizing Chart Section",
    "settings": [],
    "presets": [
      {
        "name": "Pesh Tracking Orders Section"
      }
    ]
  }
{% endschema %}